@import "./global";

.App {
    width: 70vw;
    margin-left: 15vw;
    box-shadow: 10px 3px 55px #00000029;

    @media (max-width: #{$tablet}) {
        width: 90vw;
        margin-left: 5vw;
    }

    @media (max-width: #{$phone}) {
        width: 100vw;
        margin: 0;
        box-shadow: none;
    }
}